{% extends "base2.html" %}
{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Add a new Record</h1>

    <div class="card shadow mb-4">
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                {{ cform.management_form }}

                <table>
                    <tbody>{% for field in form %}
                        <tr>
                            <div class="form-group">
                                <td>{{ field.label_tag }}</td>
                                <td>{{ field }}</td>
                                <td>{{ field.errors }}</td>
                                <td>{% if field.help_text %}
                                    <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}</td>
                            </div>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <input type="submit" formnovalidate name="save" value="Save" class="btn btn-success"/>
                <input type="submit" formnovalidate name="cancel" value="Cancel" class="btn btn-light"/>
                <p>{{ mensaje }}</p>
            </form>
        </div>
    </div>
{% endblock %}