{% extends "base2.html" %}
{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Patient Records</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Records</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                    <tr>
                        <th>Date</th>
                        <th>Patient ID</th>
                        <th>Patient Name</th>
                        <th>Patient Age</th>
                        <th>Blood pressure</th>
                        <th>BPM</th>
                        <th>Vitals</th>
                        <th class="all" width="10">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in objects %}
                        <tr class="odd gradeX">
                            <td>{{ object.date }}</td>
                            <td>{{ object.patient.cid }}</td>
                            <td>{{ object.patient.name }} {{ object.patient.lastname }}</td>
                            <td>{{ object.patient.age }}</td>
                            <td>{{ object.pressure1 }} - {{ object.pressure2 }} ({{ object.status_pressure }})</td>
                            <td>{{ object.bpm }} ({{ object.status_bpm }})</td>
                            <td>
                                {% if object.status_pressure == "Normal" and object.status_bpm == "Normal" %}
                                    <a class="btn btn-success btn-circle"><i class="fas fa-check"></i></a>
                                {% else %}
                                    <a class="btn btn-danger btn-circle"><i class="fas fa-exclamation-triangle"></i></a>
                                {% endif %}
                            </td>
                            <td>
                                <div style="display: flex;">
                                    <form action="/records/edit/" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="object_id" value={{ object.pk }}>
                                        <button type="submit" formnovalidate name="edit" value="a"
                                                class="btn btn-default">Edit
                                        </button>
                                    </form>
                                    <form id={{ object.pk }} action="/records/delete/" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="object_id" value={{ object.pk }}>
                                        <input type="submit" class="btn btn-danger" formnovalidate name="delete"
                                               value="Delete"/>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if perms.nurseapp.add_patient %}
                    <form action="/records/add/">
                        <input type="submit" value="Add a new Record" class="btn btn-primary"/>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                responsive: true,
                "lengthMenu": [[25, 50, -1], [25, 50, "All"]],

            });
        });
    </script>
{% endblock %}